.pvtUi { color: #333; }


table.pvtTable {
    font-size: 8pt;
    text-align: left;
    border-collapse: collapse;
}
table.pvtTable tr th, table.pvtTable tr th {
    background-color: #e6EEEE;
    border: 1px solid #CDCDCD;
    font-size: 8pt;
    padding: 5px;
}

table.pvtTable .pvtColLabel {text-align: center;}
table.pvtTable .pvtTotalLabel {text-align: right;}

.pvtTotal, .pvtGrandTotal { font-weight: bold; }

.pvtVals { text-align: center;}
.pvtAggregator { margin-bottom: 5px ;}

.pvtAxisContainer, .pvtVals {
    border: 1px solid gray;
    background: #EEE;
    padding: 5px;
    min-width: 20px;
    min-height: 20px;
}
.pvtAxisContainer li {
    padding: 8px 6px;
    list-style-type: none;
    cursor:move;
}
.pvtAxisContainer li.pvtPlaceholder {
    -webkit-border-radius: 5px;
    padding: 3px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px dashed #aaa;
}

.pvtAxisContainer li span.pvtAttr {
    background: #F3F3F3;
    border: 1px solid #DEDEDE;
    padding: 2px 5px;
    white-space:nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.pvtTriangle {
    cursor:pointer;
    color: grey;
}

.pvtHorizList li { display: inline; }
.pvtVertList { vertical-align: top; }

.pvtFilteredAttribute { font-style: italic }

.pvtFilterBox{
    z-index: 100;
    width: 280px;
    border: 1px solid gray;
    background-color: #fff;
    position: absolute;
    padding: 20px;
    text-align: center;
}

.pvtFilterBox h4{ margin:0; }
.pvtFilterBox p { margin: 1em auto; }
.pvtFilterBox label { font-weight: normal; }
.pvtFilterBox input[type='checkbox'] { margin-right: 5px; }

.pvtCheckContainer{
    text-align: left;
    overflow: scroll;
    width: 100%;
    max-height: 200px;
}
.pvtCheckContainer p{ margin: 5px; }

.pvtRendererArea { padding: 5px;}


.pvtAxisContainer {
 border: 1px solid rgb(232, 5, 131); color: #0099be; 
 background: #fff;   
}

.pvtVals {
 border: 1px solid rgb(232, 5, 131); color: #0099be; 
 background: #fff;   
}

.pvtUi select,
.pvtUi select {  background-color: #fff; border: 1px solid #77c0c7; color: rgb(70, 119, 173); font-size: 16px; min-width: 185px; padding: 4px; }
.pvtUi input { padding: 9px 10px; border-radius: 0px; border: 1px solid #bbb; margin: 5px 0px 5px 0px; width: 240px; }
.pvtUi button { background-color: #0099be; border: 1px solid #0099be; color: #fff; margin-right: 7px}


table.pvtTable { cursor: default; }
table.pvtTable tr th { background-color: rgb(16,153,173); border-left: 1px solid #fff; color: #fff; font-size: 14px; font-weight: bold; text-align: left;}
table.pvtTable tr td { border-left: 1px solid #fff; font-size: 14px;}
table.pvtTable tr td:first-child {border:none }
table.pvtTable tr:nth-child(odd) {background-color: rgba(16, 153, 173, 0.1); }
table.pvtTable tr:nth-child(even) {background-color: rgba(16, 153, 173, 0.3); }
table.pvtTable tr:hover { background-color: #fff; cursor: pointer;}

